// COLORS
$color-white: #fff;
$color-black: #000;

$color-dark-grey: #333;

$color-blue: rgb(70, 119, 255);
$color-blue-light-1: rgb(107, 146, 255);
$color-blue-light-2: rgb(140, 171, 255);
$color-blue-light-3: rgb(172, 194, 255);
$color-blue-dark-1: rgb(60, 101, 216);
$color-blue-dark-2: rgb(41, 70, 151);
$color-blue-dark-3: rgb(27, 45, 95);

// FONT
$default-font-size: 1.6rem;

// ---- LAYOUT --- //
// --------------- //

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

// SHADOWS

// BORDERS
$border-radius-small: 3px;
