// COLORS
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// ---- LAYOUT --- //
// --------------- //

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

// SHADOWS

// BORDERS
$border-radius-small: 3px;
