/*
0 - 600px:		Phone
600 - 900px:	Tablet Portrait
900 - 1200px:	Tablet Landscape
[1200 - 1800]	**Normal Styles**
1800px + :		Big Desktop
*/
/*
Breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desk
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  75% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  75% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  75% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333; }

.container {
  padding: 3rem;
  max-width: 800px;
  margin: auto; }

.center-text {
  text-align: center !important; }

.mb-small {
  margin-bottom: 1.5rem !important; }
  @media (max-width: 56.25em) {
    .mb-small {
      margin-bottom: 1rem !important; } }

.mb-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .mb-medium {
      margin-bottom: 3rem !important; } }

.mb-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .mb-big {
      margin-bottom: 5rem !important; } }

.mt-small {
  margin-top: 1.5rem !important; }

.mt-medium {
  margin-top: 4rem !important; }

.mt-big {
  margin-top: 8rem !important; }

.mt-huge {
  margin-top: 10rem !important; }

.autocomplete {
  position: relative; }
  .autocomplete__label {
    font-weight: 700;
    display: block; }
  .autocomplete__input {
    width: 100%; }
  .autocomplete__dropdown {
    display: block;
    height: 0;
    overflow: hidden;
    border: none;
    position: absolute;
    top: 100%;
    max-width: 100%;
    min-width: 70%;
    background-color: white;
    z-index: 10; }
    .autocomplete__dropdown.is-active {
      height: unset;
      max-height: 50rem;
      border: 1px solid #333; }
    .autocomplete__dropdown--menu {
      padding: 1rem; }
    .autocomplete__dropdown--content {
      max-height: 50rem;
      padding-bottom: 5rem;
      overflow: hidden;
      overflow-y: scroll; }
  .autocomplete__dropdown-item {
    display: flex;
    position: relative;
    padding: 1rem;
    align-items: center; }
    .autocomplete__dropdown-item a:hover {
      color: #888; }
    .autocomplete__dropdown-item--image {
      height: 8rem;
      width: 8rem;
      margin-right: 1.5rem;
      overflow: hidden; }
      .autocomplete__dropdown-item--image img {
        height: 100%;
        width: 100%;
        transition: all 0.2s; }
    .autocomplete__dropdown-item--content {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .autocomplete__dropdown-item .title,
    .autocomplete__dropdown-item .subtitle {
      display: block; }
    .autocomplete__dropdown-item .title {
      font-weight: 600;
      font-size: 1.8rem; }
    .autocomplete__dropdown-item .subtitle a {
      color: inherit;
      text-decoration: none; }
      .autocomplete__dropdown-item .subtitle a:hover {
        color: #888; }
    .autocomplete__dropdown-item:not(:last-child)::after {
      content: "";
      display: block;
      width: 80%;
      position: absolute;
      bottom: 0;
      left: 10%;
      border-bottom: 1px solid #888; }
    .autocomplete__dropdown-item:hover {
      background-color: #c8d7ff; }
      .autocomplete__dropdown-item:hover img {
        transform: scale(1.2);
        filter: brightness(0.7); }

.playlist-container {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #1b2d5f; }

.playlist__song {
  position: relative;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center; }
  .playlist__song:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #ccc; }
  .playlist__song--title {
    display: inline-block;
    flex-basis: 40%; }
  .playlist__song--info {
    display: inline-block;
    flex-basis: 50%;
    white-space: nowrap;
    overflow: hidden; }

.songSummary {
  display: flex;
  position: relative;
  align-items: center;
  padding: 2rem;
  background-color: #acc2ff;
  border-radius: 1rem; }
  .songSummary.hidden {
    display: none; }
  .songSummary a {
    text-decoration: none;
    color: #333; }
    .songSummary a:hover {
      color: #888; }
  .songSummary__image {
    flex: 0 0 100px;
    max-height: 100px; }
    @media (max-width: 37.5em) {
      .songSummary__image {
        flex: 0 0 75px;
        max-height: 75px; } }
    @media only screen and (max-width: 400px) {
      .songSummary__image {
        flex: 0 0 50px;
        max-height: 50px; } }
  .songSummary__contentBlock {
    flex: 1 1 auto;
    margin: 0 3rem; }
  .songSummary__title {
    margin-bottom: 0.5rem; }
    @media (max-width: 37.5em) {
      .songSummary__title {
        line-height: 1.2; } }
  .songSummary__artist {
    font-style: italic;
    font-weight: 600; }
  .songSummary__preview:focus,
  .songSummary__preview *:focus {
    outline: none; }
  .songSummary__preview {
    margin-top: 1rem; }
  .songSummary__audio {
    height: 4rem;
    max-width: 80%; }
    @media (max-width: 37.5em) {
      .songSummary__audio {
        transform: scale(0.5);
        transform-origin: 0%;
        max-width: 160%; } }
  .songSummary__addToPlaylist--container {
    flex: 0 0 5rem;
    height: 5rem;
    width: 5rem;
    position: relative; }
  .songSummary__addToPlaylist--button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #1b2d5f;
    color: #fff;
    border: none;
    outline: none;
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .songSummary__addToPlaylist--button:hover {
      cursor: pointer;
      transform: translate(-50%, -50%) translateY(-0.2rem);
      box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.3);
      background-color: #3c65d8; }
    .songSummary__addToPlaylist--button:focus {
      background-color: #fff;
      color: #8cabff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem*2) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 6rem*2) * 2 / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem*3) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 6rem*3) * 2 / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 6rem*3) * 3 / 4) + 6rem * 2); }

.hero {
  background-image: linear-gradient(to bottom, #8cabff, #3c65d8); }
  .hero__body {
    color: #fff;
    padding: 3rem; }
  .hero__title {
    font-weight: 600;
    font-size: 5rem;
    text-align: center; }
    .hero__title--icon {
      margin-left: 2rem; }

.autocomplete {
  margin-bottom: 3rem; }

.songSummary:not(.is-hidden) {
  margin-bottom: 3rem; }
