@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-8rem);
	}

	75% {
		transform: translateX(0.2rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(8rem);
	}

	75% {
		transform: translateX(-0.2rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(5rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes scrollFromRight {
	0% {
		transform: translateX(0%);
	}

	90% {
		transform: translateX(-100%);
		opacity: 1;
	}

	90.01% {
		transform: translateX(0%);
		opacity: 0;
	}

	92% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
