.autocomplete {
	position: relative;

	&__label {
		display: none;
		color: $color-white;
		font-weight: 700;
	}

	&__input {
		width: 100%;
		font-size: 1.2em;
		height: 1.8em;
		padding: 1em;
		background-color: transparent;
		border: 3px solid $color-blue-dark-2;
		border-radius: 0.5rem;
		color: $color-white;
		transition: all 0.3s;

		&:focus {
			outline: none;
			border: 3px solid $color-blue-dark-1;
			background-color: rgba($color-blue, 0.1);
			backdrop-filter: blur(5px);
		}

		&::placeholder {
			color: $color-grey;
		}
	}

	&__dropdown {
		display: block;
		height: 0;
		overflow: hidden;
		border: none;
		position: absolute;
		top: 100%;
		max-width: 100%;
		min-width: 70%;
		background-color: $color-blue-dark-2;
		z-index: 10;

		&.is-active {
			height: unset;
			max-height: 50rem;
			border: 1px solid $color-dark-grey;
		}

		&--menu {
			padding: 1rem;
		}

		&--content {
			@include scrollbar($color-blue-dark-2, 1rem);

			max-height: 50rem;
			padding-bottom: 5rem;
			overflow: hidden;
			overflow-y: scroll;
		}
	}

	&__dropdown-item {
		display: flex;
		position: relative;
		padding: 1rem;
		align-items: center;

		a:hover {
			color: $color-grey;
		}

		&--image {
			height: 5rem;
			width: 5rem;
			margin-right: 1.5rem;
			overflow: hidden;

			img {
				height: 100%;
				// width: 100%;
				transition: all 0.2s;
			}
		}

		&--content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: $color-white;
		}

		.title,
		.subtitle {
			display: block;
		}

		.title {
			font-weight: 600;
			font-size: 1.4rem;
		}

		.subtitle {
			font-size: 1.2rem;
			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					color: $color-grey;
				}
			}
		}

		&:not(:last-child)::after {
			content: "";
			display: block;
			width: 80%;
			position: absolute;
			bottom: 0;
			left: 10%;
			border-bottom: 1px solid $color-grey;
		}

		&:hover {
			background-color: $color-blue-grey-light;
			cursor: pointer;

			img {
				transform: scale(1.2);
				filter: brightness(0.7);
			}
		}

		&:hover &--content {
			color: $color-dark-grey;
		}
	}
}
