.playlist-container {
	padding: 1rem 1rem;
	border-radius: 0.5rem;
	background-color: $color-blue-dark-3;
	position: relative;

	animation: fadeIn 1s ease-out 1.5s;
	animation-fill-mode: backwards;
}

.playlist {
	@include scrollbar($color-blue-dark-3, 1.6rem);

	&__intro {
		//hide by default
		display: none;

		//If it's the last child, it's the ONLY child, so it should be displayed
		&:only-child {
			display: block;
			text-align: center;
			color: $color-light-grey;
		}
	}

	&__song {
		position: relative;
		color: $color-white;
		padding: 1.5rem 1rem;
		display: flex;
		align-items: center;

		&:not(:last-child) {
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 5%;
				width: 90%;
				height: 1px;
				background-color: $color-light-grey;
			}
		}

		&--play-pause-container {
			display: inline-block;
			flex: 0 0 4rem;
			position: relative;
			margin-right: 3rem;
		}

		&--play-pause-button {
			@include center-x-y;

			// Hidden, exept for case listed below
			opacity: 0;

			height: 3rem;
			width: 3rem;
			border-radius: 50%;
			background-color: $color-blue-dark-3;
			border: 1px solid $color-grey;
			color: $color-grey;
			font-size: 1.2rem;

			&:hover {
				color: $color-white;
				border: 1px solid $color-white;
				cursor: pointer;
			}

			&:focus {
				outline: none;
				background-color: $color-blue-dark-1;
			}
		}

		&.playing &--play-pause-button,
		&:hover &--play-pause-button {
			opacity: 1;
		}

		&--col {
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
		}

		&--col-1 {
			flex: 1 1 40%;
			padding-right: 0.5rem;
		}

		&--col-2 {
			flex: 1 1 60%;
		}

		&:hover {
			background-color: $color-blue-dark-2;
			color: $color-white;
		}

		&--title:hover,
		&--info:hover {
			&.long {
				display: inline-block;
				animation: scrollFromRight 10s linear 1s infinite;
			}
		}
	}
}
