html {
	background-color: $color-blue-darkest;
}

body {
	@include scrollbar($color-blue-dark-3, 2rem);
}

.hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.main {
	margin-top: 30rem;
}

.playlist-app {
	height: 100%;
}

.autocomplete {
	margin-bottom: 3rem;
}

.songSummary:not(.is-hidden) {
	margin-bottom: 3rem;
}

.playlist {
	max-height: 50vh;
	overflow-y: auto;
	overflow-x: hidden;
}
